
.appearance_page_inclusive_theme .welcome-panel,
.appearance_page_inclusive_theme .welcome-panel ul li {
	font-size: 1rem;
}

.appearance_page_inclusive_theme .welcome-panel h2 {
	font-size: 1.5rem;
	font-weight: 400;
}

.appearance_page_inclusive_theme .welcome-panel h3 {
	font-size: 1.4rem;
	font-weight: 400;
}

.appearance_page_inclusive_theme .inclusive-grey {
	background: #fafafa;
}

.appearance_page_inclusive_theme .success {
	display: none;
}

.appearance_page_inclusive_theme .success.visible {
	display: inline-block;
	height: 30px;
}
