
.welcome-panel,
.welcome-panel ul li {
	font-size: 1.2rem;
}

.welcome-panel h2 {
	font-size: 1.5rem;
	font-weight: 400;
}

.welcome-panel h3 {
	font-size: 1.4rem;
	font-weight: 400;
}

.success {
	display: none;
}

.success.visible {
	display: inline-block;
	height: 30px;
}