
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header,
.wp-custom-header {
	position: relative;
}

.wp-custom-header {
	padding: 0;
	margin: 0 0 -8px 0;
}

.header-image {
	margin: 0 auto;
}

.header-image img {
	display: block;
	margin: 0 auto;
}

.site-branding {
	text-align: center;
	padding: 1rem;
}

.has-left-align-branding .site-branding {
	text-align: left;
}

.has-right-align-branding .site-branding {
	text-align: right;
}

.has-fullscreen-header .site-branding {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.inner-branding {
	margin: auto;
	padding: 1.5rem;
	border-radius: 3px;
}

.has-left-align-branding .inner-branding {
	margin-left: 0;
}

.has-right-align-branding .inner-branding {
	margin-right: 0;
}

@media screen and (min-width: 27.5em) {

	.site-branding {
		padding: 3rem;
	}

	.inner-branding {
		margin: auto;
		padding: 2rem;
		border-radius: 3px;
		border: none;
	}
}

.inner-branding .custom-logo-link {
	display: block;
}
/*
.custom-logo-link img {
	margin: 0 auto;
}

a.custom-logo-link:hover img,
a.custom-logo-link:focus img {
	box-shadow: 0 0 0 3px #fff, 0 0 0 4px #767676;
}
*/
a.custom-logo-link {
	outline: none;
}

a.custom-logo-link:hover,
a.custom-logo-link:focus {
	border-bottom: 0;
	box-shadow: 0 0 0 3px #fff, 0 0 0 4px #767676;
	outline: none;
	background: var(--color-theme-active-button);
	transition: box-shadow .3s ease-in-out;
	border-radius: var(--button-border-radius);
}

.site-title {
	display: inline-block;
	font-family: var(--highlight-font-family);
	font-weight: 700;
	text-shadow: var(--text-shadow);
	word-wrap: break-word;
	font-size: 2.44em;
}

@media screen and (max-width: 37.5em) {

	.site-title {
		margin: 0 auto;
		font-size: 2.44rem !important;
	}

	.has-left-align-branding .site-title,
	.has-right-align-branding .site-title {
		margin: 0.5em;
	}
}

.site-title a {
	text-decoration: none;
	color:#333;
}

.site-title::after {
	display: block;
	content: "";
	width: 50%;
	height: 4px;
	margin: 0 auto;
	background: var(--color-theme-underline-accent);
	transition: 0.3s;
}

.site-title:hover::after,
.site-title:focus::after {
	background: var(--color-theme-hover-underline-accent);
}

.has-left-align-branding .site-title::after {
	margin-left: 0;
}

.has-right-align-branding .site-title::after {
	margin-right: 0;
}

.site-description {
	margin: 2em 1em;
	font-family: var(--highlight-font-family);
	font-size: 1.3rem;
	font-weight: inherit;
	line-height: 1.6;
	word-wrap: break-word;
	text-shadow: var(--text-shadow);
	color:#333;
}
