.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-title,
.comment-reply-title {
	margin-bottom: 1em;
	font-weight: 900;
	text-shadow: 0.04em 0.04em 0 rgba(0, 0, 0, 0.1);
}

.comment-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.comment-list ol {
	list-style-type: none;
}

.children {
	margin-left: 1em;
	padding-left: 0;
}

@media screen and (min-width: 48em) {

	.children {
		margin-left: 2em;
	}
}

.comment-body {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	margin-bottom: 3em;
	padding-bottom: 1em;
}

.comment-meta {
	position: relative;
	margin-left: 70px;
	margin-bottom: 4em;
	font-size: var(--font-size-small);
}

.comment-meta a,
.comment-form a {
	border: none;
}

.comment .avatar {
	position: absolute;
	left: -70px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.bypostauthor .avatar {
	box-sizing: content-box;
	border: 5px solid var(--global-font-color);
	margin-top: -5px;
	margin-left: -5px;
}

.comment-author {
	display: inline-block;
	font-size: var(--font-size-medium);
}

.says {
	display: none;
}

.comment-metadata {
	margin-top: 2em;
}

@media screen and (min-width: 37.5em) {

	.comment-metadata {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
	}
}

.comment-metadata .edit-link {
	margin: 0.2em 0.6em;
}

.comment-content ul,
.comment-content ol {
	margin: 0;
	padding-right: 3em;
	padding-left: 3em;
}

.comment-content ol {
	list-style-type: decimal;
}

.comment-content ul ul,
.comment-content ol ol {
	margin-right: 0;
	margin-left: 0;
}

@media screen and (min-width: 48em) {

	.comment-content ul,
	.comment-content ol {
		padding-right: 1.5em;
		padding-left: 1.5em;
	}
}

.comment-content blockquote {
	padding-left: 1em;
	margin-bottom: 0.75em;
}

.comment-content cite {
	font-size: var(--font-size-small);
}

.reply {
	margin: 2em 0;
	text-align: right;
}

.comment-reply-link {
	padding: 0.5em 1.4em;
	font-family: var(--highlight-font-family);
	font-size: var(--font-size-small);
}

.comment-notes {
	margin-top: -0.5em;
	font-family: var(--highlight-font-family);
	font-size: var(--font-size-small);
}

.comment-form label {
	display: block;
	font-size: var(--font-size-small);
	font-family: var(--highlight-font-family);
	padding-bottom: 0.4em;
}

.comment-form-cookies-consent {
	display: flex;
}

.comment-form .comment-form-cookies-consent input {
	margin-top: 0.2em;
}

.comment-form .comment-form-cookies-consent label {
	display: inline-block;
	margin-left: 0.6em;
}

.comment-form .required {
	color: var(--color-theme-red);
}

.comment-form .form-submit {
	text-align: right;
}

.pingback .comment-body {
	padding: 1em 0;
}

.pingback a {
	font-style: italic;
}
