.woocommerce-products-header {
	margin: 1.5em auto 2.5em auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	/* stylelint-disable */
	max-width: var(--content-width);
	/* stylelint-enable */
	text-align: center;
}

.woocommerce .woocommerce-result-count,
.woocommerce .woocommerce-ordering,
.woocommerce .woocommerce-breadcrumb {
		margin: 0 auto 0.5em auto;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		/* stylelint-disable */
		max-width: var(--content-width);
		/* stylelint-enable */
		text-align: center;
		float: none;
		float: initial;
}

.woocommerce-products-header .page-title,
.woocommerce div.product .product_title,
.woocommerce-tabs h2,
.woocommerce .related h2,
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3,
.woocommerce-breadcrumb {
	text-shadow: var(--text-shadow);
}

.woocommerce .woocommerce-breadcrumb {
	font-family: var(--highlight-font-family);
	color: var(--color-link);
}

.woocommerce .woocommerce-breadcrumb a {
	color: var(--color-link);
}

.woocommerce-notices-wrapper {
	max-width: var(--content-width);
	margin: 1.5em auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}

.woocommerce-loop-category__title mark {
	background: none;
}

a .woocommerce-loop-category__title {
	text-decoration: underline;
	text-align: center;
}

a .woocommerce-loop-category__title:hover,
a .woocommerce-loop-category__title:focus {
	text-decoration: none;
}

a:focus .woocommerce-loop-category__title {
	text-decoration: none;
	outline: thin dotted;
}

.woocommerce .products ul,
.woocommerce ul.products {
	max-width: var(--content-width);
	margin: 2.5em auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}

.woocommerce div.product {
	max-width: var(--content-width);
	margin: 2.5em auto;
	line-height: 2.1;
}

.woocommerce ul.products li.product a {
	outline-offset: 5px;
	padding: 5px;
	display: block;
}

.woocommerce ul.products li.product a.added_to_cart:hover {
	text-decoration: underline;
}

@media screen and (min-width: 37.5em) {

	.woocommerce .products ul,
	.woocommerce ul.products {
		max-width: calc(50% + var(--content-width) / 2);
	}

	.woocommerce div.product {
		max-width: calc(50% + var(--content-width) / 2);
	}
}

.woocommerce div.product > * {
	margin-right: auto;
	margin-left: auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	/* stylelint-disable */
	max-width: var(--content-width);
	/* stylelint-enable */
}

.woocommerce-product-gallery__image,
.woocommerce-product-gallery__image a,
.woocommerce-product-gallery__image a img,
.woocommerce ul.products li.product a img,
.woocommerce-cart-form__cart-item .product-thumbnail a img {
	outline-offset: 5px;
	outline: 1px solid transparent;
}

.woocommerce ul.products li.product a img:hover,
.woocommerce-product-gallery__image a img:hover,
.woocommerce-product-gallery__image a:focus img,
.woocommerce-LoopProduct-link.woocommerce-loop-product__link img:hover,
.woocommerce-LoopProduct-link.woocommerce-loop-product__link:focus img,
.woocommerce-cart-form__cart-item .product-thumbnail a:hover img,
.woocommerce-cart-form__cart-item .product-thumbnail a:focus img {
	outline-offset: 5px;
	outline: 1px solid;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce div.product form.cart .button {
	border: var(--button-border-width) solid;
	border-color: var(--color-theme-button-border);
	border-radius: var(--button-border-radius);
	background: var(--color-theme-button);
	color: var(--color-theme-button-text);
	font-size: var(--font-size-regular);
	font-family: var(--global-font-family);
	line-height: 2.1;
	font-weight: 400;
	padding: 6px 12px;
	text-align: center;
	cursor: pointer;
	margin-left: 0.5em;
	margin-right: 0.5em;
	outline-offset: 3px;
	transition: outline 0.6s linear;
	transition: box-shadow 0.3s ease-in-out;
}

.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled] {
	padding: 6px 12px;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:focus,
.woocommerce a.button:focus,
.woocommerce button.button:focus,
.woocommerce input.button:focus,
.woocommerce #respond input#submit:active,
.woocommerce a.button:active,
.woocommerce button.button:active,
.woocommerce input.button:active,
.woocommerce #respond input#submit.alt:focus,
.woocommerce a.button.alt:focus,
.woocommerce button.button.alt:focus,
.woocommerce input.button.alt:focus,
.woocommerce #respond input#submit.alt:active,
.woocommerce a.button.alt:active,
.woocommerce button.button.alt:active,
.woocommerce input.button.alt:active {
	background: var(--color-theme-active-button);
	color: var(--color-theme-active-button-text);
	box-shadow: 0 0 0 3px #fff, 0 0 0 4px #767676;
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
	background: #333;
}

.woocommerce .quantity .qty {
	padding: 14px;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce ul.products li.product .price {
	color: var(--global-font-color);
}

.woocommerce span.onsale {
	background: var(--global-font-color);
}

.woocommerce table.shop_table {
	border-collapse: collapse;
	border: 1px double #ccc;
}

.woocommerce table.shop_table th,
.woocommerce table.shop_table td {
	border: 1px double #ccc;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
	min-width: 80px;
	width: auto;
	outline: 1px solid transparent;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
	outline: 1px solid transparent;
}

.woocommerce #content table.cart td.actions .input-text:focus,
.woocommerce table.cart td.actions .input-text:focus,
.woocommerce-page #content table.cart td.actions .input-text:focus,
.woocommerce-page table.cart td.actions .input-text:focus,
.woocommerce form .form-row input.input-text:focus,
.woocommerce form .form-row textarea:focus {
	outline: 1px solid;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	padding: 14px;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	background: none;
}

.woocommerce table.shop_attributes th,
.woocommerce table.shop_attributes td {
	border: none;
}

.woocommerce nav.woocommerce-pagination {
	font-family: var(--highlight-font-family);
	font-size: var(--font-size-regular);
	margin-bottom: 3em;
}

.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li {
	border: none;
}

.woocommerce nav.woocommerce-pagination ul li span.page-numbers,
.woocommerce nav.woocommerce-pagination ul li a.page-numbers {
	display: inline-block;
	margin-bottom: 0;
	margin-right: 1em;
	min-width: 1.75em;
	line-height: 1.75;
	text-align: center;
	border-bottom: 4px solid transparent;
}

.woocommerce nav.woocommerce-pagination ul.page-numbers {
	border-bottom: 4px solid transparent;
	text-decoration: none;
	padding: 0.5em 0.5em 0;
	color: var(--color-link);
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
	padding: 0.5em 0.5em 0;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
	color: var(--color-link);
	background: none;
	border-bottom: 4px solid var(--color-theme-hover-underline-accent);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:focus {
	text-decoration: underline;
}
