.wp-block-audio figcaption {
	margin-top: 0.5em;
	margin-bottom: 1em;
	font-size: var(--font-size-small);
	text-align: center;
	color: currentColor;
}

.wp-block-audio audio {
	width: 100%;
	min-width: 300px;
}
