.wp-block-button.aligncenter {
	text-align: center;
}

.wp-block-button.alignright {
	text-align: right;
}

.wp-block-button__link,
.wp-block-button__link:visited {
	border: none;
	border-radius: 6px;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: var(--font-size-regular);
	margin: 0;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	overflow-wrap: break-word;
}

.wp-block-button__link:not(.has-background) {
	background-color: #32373c;
}

.wp-block-button__link:not(.has-text-color) {
	color: #fff;
}

.wp-block-button__link:active,
.wp-block-button__link:hover,
.wp-block-button__link:focus {
	outline: none;
	box-shadow: 0 0 0 2px #fff, 0 0 0 4px #32373c;
}

.is-style-outline .wp-block-button__link {
	border-color: #32373c;
	color: #333;
	border: 2px solid;
	box-shadow: none;
}

.is-style-outline .wp-block-button__link:not(.has-text-color) {
	color: #333;
}

.is-style-outline .wp-block-button__link:not(.has-background) {
	background-color: transparent;
}

.is-style-outline .wp-block-button__link:active,
.is-style-outline .wp-block-button__link:hover,
.is-style-outline .wp-block-button__link:focus {
	box-shadow: 0 0 0 2px #fff, 0 0 0 4px #32373c;
	outline: none;
}

.no-border-radius.wp-block-button__link {
	border-radius: 0 !important;
}

.wp-block-button.is-style-inclusive-large-button .wp-block-button__link{
	padding: 1em 3em;
	margin: 1.5em;
}

@media screen and (max-width: 27.5em) {

	.wp-block-button.is-style-inclusive-large-button .wp-block-button__link{
		padding: 0.5em;
	}
}
