.wp-block-file {
	margin-bottom: 1.5em;
}

.wp-block-file.aligncenter {
	text-align: center;
}

.wp-block-file.alignright {
	/*rtl:ignore*/
	text-align: right;
}

.site .wp-block-file .wp-block-file__button {
	display: inline-block;
	background: #32373c;
	border-radius: 6px;
	color: #fff;
	font-size: var(--font-size-regular);
	padding: 6px 12px;
}

.site .wp-block-file a.wp-block-file__button {
	text-decoration: none;
	outline-offset: 3px;
	transition: box-shadow 0.3s ease-in-out;
}

.site .wp-block-file__button:active,
.site .wp-block-file__button:hover {
	box-shadow: 0 0 0 3px #fff, 0 0 0 4px #767676;
}

.site .wp-block-file__button:focus {
	outline: 1px dotted var(--global-font-color);
}

.site .wp-block-file * + .wp-block-file__button {
	margin-left: 0.75em;
}
