/* stylelint-disable no-descending-specificity */
.wp-block-navigation > ul {
	display: block;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

@media (min-width: 600px) {

	.wp-block-navigation > ul {
		display: flex;
		flex-wrap: wrap;
	}
}

.wp-block-navigation > ul ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-left: 0;
}

.wp-block-navigation > ul ul li {
	margin: 0;
}

/*
* Frontend: styles for submenu flyout
*/
.wp-block-navigation > ul li {
	z-index: 1;
}

.wp-block-navigation > ul li:hover,
.wp-block-navigation > ul li:focus-within {
	cursor: pointer;
	z-index: 99999;
}

.wp-block-navigation > ul li:hover > ul,
.wp-block-navigation > ul li:focus-within > ul,
.wp-block-navigation > ul li ul:hover,
.wp-block-navigation > ul li ul:focus {
	visibility: visible;
	opacity: 1;
	display: flex;
	flex-direction: column;
}

.wp-block-navigation > ul > li ul {
	position: absolute;
	left: 0;
	top: 100%;
	min-width: 200px;
	max-width: 200px;
	opacity: 0;
	transition: opacity 0.1s linear;
	visibility: hidden;
}

/*
* Styles shared between editor and frontend
*/
.wp-block-navigation,
.wp-block-navigation .block-editor-block-list__layout {
	display: flex;
	flex-wrap: wrap;
}

.wp-block-navigation .block-editor-block-list__layout .block-editor-block-list__layout {
	width: 200px;
}

.wp-block-navigation .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
	margin: 0;
	width: auto;
}

.wp-block-navigation,
.wp-block-navigation > .wp-block-navigation__container {
	align-items: center;
	width: 100%;
}

.wp-block-navigation > .wp-block-navigation-link,
.wp-block-navigation > .wp-block-navigation__container > .wp-block-navigation-link {
	display: flex;
	margin-top: 0;
	margin-bottom: 0;
}

.wp-block-navigation .wp-block-navigation-link {
	position: relative;
	margin: 0;
	min-height: 56px;
	display: flex;
	line-height: 1.4;
}

.wp-block-navigation .wp-block-navigation-link .wp-block,
.wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link {
	min-height: auto;
	padding: 0;
}

.wp-block-navigation .wp-block-navigation-link .wp-block .wp-block-navigation-link {
	margin: 0;
}

.wp-block-navigation .wp-block-navigation-link > .block-editor-inner-blocks {
	display: none;
}

.wp-block-navigation .wp-block-navigation-link.has-child > .wp-block-navigation__container,
.wp-block-navigation .wp-block-navigation-link.is-editing.has-child > .block-editor-inner-blocks {
	display: flex;
	border: none;
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 0;
}

.wp-block-navigation .wp-block-navigation-link.has-child > .wp-block-navigation__container .block-editor-inner-blocks,
.wp-block-navigation .wp-block-navigation-link.has-child > .wp-block-navigation__container .wp-block-navigation__container,
.wp-block-navigation .wp-block-navigation-link.is-editing.has-child > .block-editor-inner-blocks .block-editor-inner-blocks,
.wp-block-navigation .wp-block-navigation-link.is-editing.has-child > .block-editor-inner-blocks .wp-block-navigation__container {
	left: 100%;
	top: -1px;
}

.wp-block-navigation .wp-block-navigation-link .block-editor-inner-blocks,
.wp-block-navigation .wp-block-navigation-link .wp-block-navigation__container {
	background-color: inherit;
	color: inherit;
}

.wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link__content {
	display: flex;
	align-items: center;
	width: max-content;
	margin: auto 0.5em;
}

.wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link:first-child:not(:only-child) .wp-block-navigation-link__content {
	padding-top: 8px;
}

.wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link:last-child .wp-block-navigation-link__content {
	padding-bottom: 8px;
}

.wp-block-navigation .wp-block-navigation-link.has-child .wp-block-navigation-link__content {
	padding-right: 42px;
	position: relative;
}

.wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link__submenu-icon {
	position: absolute;
	right: 16px;
}

.wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link__submenu-icon svg {
	fill: currentColor;
}

.wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link svg {
	transform: rotate(0);
}

.wp-block-navigation .wp-block-navigation-link.has-text-color .wp-block-navigation-link__content {
	color: inherit;
}

.wp-block-navigation .wp-block-navigation-link:not(.has-text-color) > .block-editor-inner-blocks,
.wp-block-navigation .wp-block-navigation-link:not(.has-text-color) > .wp-block-navigation__container,
.wp-block-navigation.is-style-light .wp-block-navigation-link:not(.has-text-color) > .block-editor-inner-blocks,
.wp-block-navigation.is-style-light .wp-block-navigation-link:not(.has-text-color) > .wp-block-navigation__container {
	color: #111;
}

.wp-block-navigation .wp-block-navigation-link:not(.has-background) > .block-editor-inner-blocks,
.wp-block-navigation .wp-block-navigation-link:not(.has-background) > .wp-block-navigation__container,
.wp-block-navigation.is-style-light .wp-block-navigation-link:not(.has-background) > .block-editor-inner-blocks,
.wp-block-navigation.is-style-light .wp-block-navigation-link:not(.has-background) > .wp-block-navigation__container {
	background-color: #fff;
}

.wp-block-navigation.is-style-dark .wp-block-navigation-link:not(.has-text-color) > .block-editor-inner-blocks,
.wp-block-navigation.is-style-dark .wp-block-navigation-link:not(.has-text-color) > .wp-block-navigation__container {
	color: #fff;
}

.wp-block-navigation.is-style-dark .wp-block-navigation-link:not(.has-background) > .block-editor-inner-blocks,
.wp-block-navigation.is-style-dark .wp-block-navigation-link:not(.has-background) > .wp-block-navigation__container {
	background-color: #333;
}

/*
* Frontend: non-shared styles & overrides
*/
.wp-block-navigation .wp-block-navigation-link.has-child > .wp-block-navigation__container {
	display: flex;
	flex-direction: column;
	padding: 0;
}

/*
* TODO: organize/untangle styles below this line
*/
.wp-block-navigation > ul > li > a {
	display: flex;
	align-items: center;
}

.wp-block-navigation > ul > li:first-of-type > a {
	padding-left: 0;
}

.wp-block-navigation > ul > li:last-of-type > a {
	padding-right: 0;
}

.wp-block-navigation.items-justified-left > ul {
	justify-content: flex-start;
}

.wp-block-navigation.items-justified-center > ul {
	justify-content: center;
}

.wp-block-navigation.items-justified-right > ul {
	justify-content: flex-end;
}

.wp-block-navigation ul,
.wp-block-navigation ul li {
	list-style: none;
}

.wp-block-navigation-link.has-link .wp-block-navigation-link__label,
.wp-block-navigation-link a {
	border-bottom: 4px solid var(--color-theme-underline-accent);
	text-decoration: none;
	transition: 0.3s;
	color: var(--color-link-menu);
	display: block;
	width: 100%;
	margin-top: 7px;
	font-family: var(--highlight-font-family);
	font-size: var(--font-size-regular);
	text-shadow: var(--text-shadow);
	padding: 0.5em;
}

.current-menu-item a {
	color: var(--color-link-current-menu);
	border-bottom: 4px solid var(--color-theme-hover-underline-accent);
}

.wp-block-navigation-link a:visited {
	color: var(--color-link-visited-menu);
}

.wp-block-navigation-link.has-link .wp-block-navigation-link__label:focus,
.wp-block-navigation-link.has-link .wp-block-navigation-link__label:hover,
.wp-block-navigation-link a:focus,
.wp-block-navigation-link a:hover {
	border-bottom: 4px solid var(--color-theme-hover-underline-accent);
}

.wp-block-navigation .wp-block-navigation-link.has-child > .wp-block-navigation__container,
.wp-block-navigation .wp-block-navigation-link.is-editing.has-child > .block-editor-inner-blocks {
	background: var(--color-submenu);
}

.wp-block-navigation .wp-block-navigation-link.has-child > .wp-block-navigation__container:hover,
.wp-block-navigation .wp-block-navigation-link.is-editing.has-child > .block-editor-inner-blocks:hover,
.wp-block-navigation .wp-block-navigation-link.has-child > .wp-block-navigation__container:focus,
.wp-block-navigation .wp-block-navigation-link.is-editing.has-child > .block-editor-inner-blocks:focus {
	background: var(--color-submenu-hover);
}

.wp-block-navigation.is-vertical > ul {
	display: block;
}

.wp-block-navigation.is-vertical .wp-block-navigation-link .wp-block-navigation-link__submenu-icon {
	position: relative;
}
