.wp-block-search .wp-block-search__label {
	font-weight: 600;
	width: 100%;
	display: block;
}

.wp-block-search.aligncenter .wp-block-search__label {
	text-align: center;
}

.wp-block-search .wp-block-search__input {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: .7em;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5;
	font-family: var(--highlight-font-family);
}

.wp-block-search .wp-block-search__button {
	border: var(--button-border-width) solid;
	border-color: var(--color-theme-button-border);
	border-radius: var(--button-border-radius);
	background: var(--color-theme-button);
	color: var(--color-theme-button-text);
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5;
	padding: .8em;
	cursor: pointer;
	font-family: var(--highlight-font-family);
	margin-left: 1em;
}
