.wp-block-separator.is-style-wide {
	border-bottom-width: 1px;
}

.wp-block-separator.is-style-dots {
	background: none !important;
	border: none;
	text-align: center;
	max-width: none;
	line-height: 1;
	height: auto;
}

.wp-block-separator.is-style-dots::before {
	content: "\00b7 \00b7 \00b7";
	letter-spacing: 2em;
	padding-left: 2em;
	font-family: serif;
	color: currentColor;
	font-size: var(--font-size-regular);
}

.wp-block-separator {
	border: none;
	margin: 1.5rem auto;
	border-bottom: 1px solid currentColor;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots):not(.is-style-inclusive-separator-ornament1):not(.is-style-inclusive-separator-ornament2) {
	max-width: 100px;
	max-width: 7em !important;
}

.wp-block-separator.has-background:not(.is-style-dots):not(.is-style-inclusive-separator-ornament1):not(.is-style-inclusive-separator-ornament2) {
	border-bottom: none;
	height: 1px;
}

.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots):not(.is-style-inclusive-separator-ornament1):not(.is-style-inclusive-separator-ornament2) {
	height: 2px;
}
